body{
    position:fixed;
    padding:0;
    margin:0;

    top:7%;
    left:0;

    width: 100%;
    height: 100%;
    background-color: lightgreen; 
}

.col-12{
    background-color: #ffff;
    opacity: 0.8;
    border-radius: 55px;
    height: 300px;
    width:500px;
}

div{
    align-content: center;
}

.lp{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
} 
.lp:hover {
    background-color: gray;
}   

.mat{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}
.mat:hover {
    background-color: gray;
}

.red{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
} 
.red:hover {
    background-color: gray;
}   

.soc{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
} 
.soc:hover {
    background-color: gray;
}   

.sd{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
} 
.sd:hover {
    background-color: gray;
}    

.btnPlay {
    background-color: lightgreen;
    color: black;
    border: none;
    outline: none;
    position: absolute;
    left: 45%;
    top: 12%;
}