<body>
    <div class="offset-4 col-12">
        <a href="http://localhost:3000/?q={{currentUser.username}}"><button class="btnPlay">Jogar</button> <br><br><br></a>
        <div>    
            <a routerLink = "/tlp"><button class="lp">Língua Portuguesa</button></a>
            <a routerLink = "/tmat"><button class="mat">Matemática</button></a>
            <a routerLink = "/tred"><button class="red">Redação</button></a>
            <a routerLink = "/tsoc"><button class="soc">Sociologia</button></a>
            <a routerLink = "/tsd"><button class="sd">Sistemas digitais</button></a>
        </div>
    </div>    
</body>
