<div class="container">
    <header class="jumbotron">
      <p> Eduardo: Tarefa enviada 15 minutos adiantada </p>
    </header>
  </div>

  <div class="container">
    <header class="jumbotron">
      <p> Lucas: Tarefa enviada 20 minutos adiantada</p>
    </header>
  </div>

  <div class="container">
    <header class="jumbotron">
      <p> Arthur: Tarefa enviada 10 minutos adiantada </p>
    </header>
  </div>

  <div class="container">
    <header class="jumbotron">
      <p> Pedro: Tarefa enviada 25 minutos adiantada</p>
    </header>
  </div>